/* #region Option */
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    font-size: 16px;
    background-color: #ffffff;
    line-height: 1.5;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

.section {
    padding: 48px;
}

@media only screen and (min-width: 768px) {
    .section {
        padding: 600px 0;
    }
}

/*styles h2*/
.subtitle {

    font-size: 36px;
    color: #2E2F42;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
    margin: 0 auto;

}


/*styles of al h3*/
.title {

    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px
}


/* styles of al <p>*/
.text {

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}

/* #endregion */

/* #region Header*/

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);

}


/* Mobile screen - base styles*/
.container {

    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;

}

/* Tablet screen */
@media only screen and (min-width: 768px) {
    .container {
        max-width: 736px;

    }
}

/* Desktop screen */
@media only screen and (min-width: 1158px) {
    .container {
        max-width: 1128px;
        padding: 0 15px;
    }
}


.header-container {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: space-between;
}

@media only screen and (min-width: 768px) {
    .nav {
        justify-content: center;
    }
}


.nav-list {
    display: none;
}

@media only screen and (min-width: 768px) {
    .nav-list {
        display: flex;
        gap: 40px;
    }
}


.nav-link {
    /**/
    position: relative;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 0.02em;
    font-style: normal;
    color: #2e2f42;
    display: block;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color;
}

.active {
    color: #404bbf;
}

.nav-link.active::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    display: block;
    width: 100%;
    height: 4px;
    color: #404bbf;
    border-radius: 2px;
    background-color: #404bbf;
}


.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

/* Logo styles */

.logo {
    padding: 16px 0;
    font-family: "Raleway", sans-serif;
    color: #4d5ae5;
    font-weight: 700;
    text-decoration: none;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.header-logo {
    margin-right: 76px;
}


.black {
    color: #2e2f42;
}

.light {
    color: #f4f4fd;
}

.contacts {
    font-style: normal;
    align-content: center;
    margin-left: auto;
}


.address-list {
    display: none;
}

@media only screen and (min-width: 768px) {
    .address-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
}

@media only screen and (min-width: 1158px) {
    .address-list {
        display: flex;
        flex-direction: row;
        gap: 40px;
    }
}

.address-link {
    color: #434455;
    text-decoration: none;
    font-weight: 400;
    letter-spacing: 0.02em;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color;
}

.address-link:hover,
.address-link:focus {
    color: #404bbf;
}

.mobile-menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0;
    border: none;
    background-color: transparent;
}

@media only screen and (min-width: 768px) {
    .mobile-menu-btn {
        display: none;
    }
}

/* #endregion */

/* #region Title Section 1 */


.section-title {

    background-color: #2e2f42;
    background-image:
        linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url('../images/hero/gb-mobile@1x.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 72px 0;

    /*max-width: 1440px;
    */
}

@media (min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .section-title {
        background-image:
                linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                url('../images/hero/gb-mobile@2x.jpg')
    }
}

@media only screen and (min-width: 768px) {
    .section-title {
        padding: 120px 0;
        background-image:
                linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                url('../images/hero/gb-tablet@1x.jpg')
    }
}

@media only screen and (min-width: 768px) and (min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .section-title {
        background-image:
             linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
             url('../images/hero/gb-tablet@2x.jpg')
    }
}

@media only screen and (min-width: 1158px) {
    .section-title {
        padding: 188px 0;
        background-image:
                linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                url('../images/hero/gb-desk-@1x.jpg')
    }
}

@media only screen and (min-width: 1158px) and (min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .section-title {
        background-image:
            linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url('../images/hero/gb-desk-@2x.jpg')
    }
}


.title-container {
    margin: 0 auto;
    gap: 72px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

@media only screen and (min-width: 768px) {
    .title-container {
        gap: 36px;
    }
}

@media only screen and (min-width: 1158px) {
    .title-container {
        gap: 48px;
    }
}

.title-main {
    /*Style h1*/

    color: #ffffff;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    max-width: 216px;
}

@media only screen and (min-width: 768px) {
    .title-main {
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
    }
}


.button {
    background-color: #4d5ae5;
    color: #ffffff;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    padding: 16px 32px;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.button:hover,
.button:focus {
    background-color: #404bbf;
}


/* #endregion */

/* #region Benefits Section 2 */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    overflow: hidden;
}

.section-benefits {
    padding: 69px 0;
}

@media only screen and (min-width: 1158px) {
    .section-benefits {
        padding: 120px 0;
    }
}

.benefits-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.benefits-list {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 72px;
}

@media only screen and (min-width: 768px) {
    .benefits-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px 72px;

    }
}

@media only screen and (min-width: 1158px) {
    .benefits-list {
        justify-content: center;
        display: flex;
        flex-wrap: nowrap;
    }
}


.benefits-item {
    max-width: 264px;
}

.benefits-container-icon {
    display: none;

}

@media only screen and (min-width: 1158px) {
    .benefits-container-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        background-color: #f4f4fd;
        border-radius: 4px;
        border: 1px solid #8e8f99;
        margin-bottom: 8px;
    }
}

.benefits-icon {}

.benefits-title {
    margin-bottom: 8px;

    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;

}

@media only screen and (min-width: 768px) {
    .benefits-title {
        text-align: left;
    }
}

@media only screen and (min-width: 1158px) {
    .benefits-title {
        margin-bottom: 8px;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;


    }
}

.benefits-text {
    font-weight: 500;
}

@media only screen and (min-width: 1158px) {
    .benefits-text {
        font-weight: 400;
    }
}

/* #endregion */

/* #region Team Section 3*/

.section-team {
    background-color: #f4f4fd;
    width: 100%;
    padding: 120px 0
}

.team-container {}

.team-subtitle {
    text-align: center;
    margin-bottom: 72px;
}

@media only screen and (min-width: 768px) {
    .team-list {
        display: flex;
        flex-wrap: wrap;
        gap: 64px 24px;

    }
}
 
@media only screen and (min-width: 1168px) {
    .team-list {
        gap: 24px;
    }
}

.team-item {
    background-color: #ffffff;
    text-align: center;

    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);

}

@media only screen and (max-width: 767px) {
    .team-item:not(:last-child) {
        margin-bottom: 72px;
    }
}

@media only screen and (min-width: 768px) {
    .team-item {
        width: calc((100% - 24px * 1) / 2);
    }
}

@media only screen and (min-width: 1168px) {
    .team-item {
        width: calc((100% - 24px * 3) / 4);
    }
}

.team-img {
    width: 100%;
    margin: 0 auto;
}

.team-text {
    padding: 32px 0
}

.team-title {
    margin-bottom: 8px;
}

.socials {
    display: flex;
    margin-top: 8px;
    gap: 24px;
    justify-content: center;
}

.socials-item {
    width: 40px;
    height: 40px;
}

.socials-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #F4F4FD;
    background-color: rgba(77, 90, 229, 1);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-link:hover,
.socials-link:focus {
    color: #F4F4FD;
    background-color: #404bbf;
}


/* Посылание на соц. сети */
.socials-icon {
    fill: currentColor;
}

/* #endregion */

/*#region Portfolio Section 4*/

.section-portfolio {
    padding: 120px 0;
}

.portfolio-container {}

.portfolio-subtitle {
    text-align: center;
    margin-bottom: 72px;
}

.portfolio-list {
    row-gap: 48px;
    opacity: 1;
    cursor: pointer;
    overflow: hidden;

}

@media only screen and (min-width: 768px) {
    .portfolio-list {
        display: flex;
        flex-wrap: wrap;
        gap: 72px 24px;

    }
}

@media only screen and (min-width: 1168px) {
    .portfolio-list {
        gap: 24px;
    }
}

.portfolio-item {
    position: relative;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

@media only screen and (max-width: 767px) {
    .portfolio-item:not(:last-child) {
        margin-bottom: 48px;
    }
}

@media only screen and (min-width: 768px) {
    .portfolio-item {
        width: calc((100% - 24px * 1) / 2);
    }
}

@media only screen and (min-width: 1168px) {
    .portfolio-item {
        width: calc((100% - 48px) / 3);
    }
}

.portfolio-item:hover .overlay {
    transform: translateY(0);
}

.portfolio-wrapper {
    position: relative;
    overflow: hidden;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-img {
    margin: 0 auto;
}

.portfolio-text {
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
    width: 360px;
    height: 120px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #F4F4FD;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    background: #4D5AE5;
    padding: 40px 32px;
    display: flex;
    transform: translateY(100%);
    transition-timing-function: ease-in;
    transition-delay: 0s;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* #endregion */

/* #region Footer */



.page-footer {
    background-color: #2e2f42;
    padding: 96px 0;
}

@media only screen and (min-width: 1158px) {
    .page-footer {
        padding: 100px 0;
    }
}

.footer-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 72px;
    align-items: center
}

@media only screen and (min-width: 768px) {
    .footer-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0;
        align-items: baseline;
    }
}

@media only screen and (min-width: 1158px) {
    .footer-container {
        display: flex;
        align-items: baseline;
        flex-wrap: nowrap;
    }
}

.footer-info {
    margin: 0;
}

@media only screen and (min-width: 768px) {
    .footer-info {
        margin-right: 120px;
    }
}


.footer-logo {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
    align-items: center
}

@media only screen and (min-width: 768px) {
    .footer-logo {
        justify-content: flex-start;
    }
}

.text-footer {
    color: #f4f4fd;
    letter-spacing: 0.02em;
    font-weight: 400;
    font-size: 16px;
    max-width: 264px;

}

@media only screen and (min-width: 768px) and
(max-width: 1158px) {
    .text-footer {
        margin-bottom: 72px;
    }
}

.footer-socials {
    flex-direction: column;
    display: flex;
    align-items: center;
}

@media only screen and (min-width: 768px) {
    .footer-socials {
        margin-right: 80px;
        align-items: flex-start;
    }
}

.footer-socials-list {
    display: flex;
    gap: 16px;
}

.footer-link:hover,
.footer-link:focus {
    background-color: #31d0aa;
}

.socials-text-footer {

    letter-spacing: 0.02em;
    color: #fff;
    font-weight: 500;
    line-height: 1.5;
    font-size: 16px;
    margin-bottom: 16px;
    
    display: flex;
    justify-content: center;
}

@media only screen and (min-width: 768px) {
    .socials-text-footer {
        justify-content: flex-start;
    }
}




/* #endregion */

/* #region Section Footer Form */

.footer-contacts {}

.footer-form {
    display: flex;
    gap: 24px;
    flex-direction: column;
align-items: center;

}

@media only screen and (min-width: 768px) {
    .footer-form {
        flex-direction: row;

    }
}



.footer-form-label {
    display: flex;
}

.footer-form-input {
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;

    width: 264px;
    height: 40px;

    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid#ffffff;
    color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: 300ms ease-in;
    transition-property: border-color, box-shadow;

}

.footer-form-input:focus {
    border-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 5.445px 5.445px 0px rgba(0, 0, 0, 0.03);
}

.footer-button {

    background-color: #4D5AE5;
    border-radius: 4px;
    border: none;
    min-width: 165px;
    height: 40px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 8px 24px;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;


}

.footer-form-icon {
    margin-left: 16px;
}

/* #endregion */

/*#region Modal Window */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.backdrop.is-open {

    opacity: 1;
    visibility: visible;
    pointer-events: auto;

    transition-delay: 0ms;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translateX(-50%) translateY(-50%) scale(0.3);
    opacity: 0;

    max-width: 288px;
    min-height: 623px;
    padding: 72px 24px 24px 24px;
    border-radius: 4px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
    .modal {
        max-width: 408px;
        min-height: 584px;
    }
}

.backdrop.is-open .modal {
    transform: translateX(-50%) translateY(-50%) scale(1);
    opacity: 1;

}

/* #endregion */

/*#region Modal Button X  */

.modal-btn {
    position: absolute;
    top: 24px;
    right: 24px;


    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0;
    width: 24px;
    height: 24px;
    background-color: #E7E9FC;
    border: 1px solid #0000001A;

    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: #404BBF;
    fill: #FFFFFF;
    border: none;
}

.btn-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    stroke: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* #endregion */

/*#region Modal Text */

.modal-caption {
    width: 365px;
    margin-bottom: 16px;
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
}

/* #endregion */

/*#region Modal Form */

.modal-form {}

.modal-form-field {
    margin-bottom: 8px;

}

.modal-form-label {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;

}

.modal-form-wrapper {
    position: relative;
}

.modal-form-input {
    width: 100%;
    background-color: transparent;
    border: 1px solid rgba(46, 47, 66, 0.4);
    height: 40px;
    border-radius: 4px;
    padding: 11px 38px;
    outline: transparent;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:active,
.modal-form-input:focus {
    border-color: #4D5AE5;
}

.modal-form-icon {
    position: absolute;
    padding: 3px 0px;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    pointer-events: none;
    stroke: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus+.modal-form-icon {
    stroke: #4D5AE5;
    fill: #4D5AE5;
}

.modal-form-field-message {
    margin-bottom: 16px;
}

.modal-form-message {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    resize: none;
    padding: 8px 16px;
    outline: transparent;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message:focus {
    border-color: #4D5AE5;
}

.modal-form-message::placeholder {
    color: rgba(46, 47, 66, 0.4);
}

/* #endregion */

/*#region Modal Custom CheckBox */

.modal-form-egreement {
    margin-bottom: 24px;
    line-height: 1.17;
}

.modal-form-egreement-text {
    font-size: 12px;
    letter-spacing: 0.04em;
    color: #8E8F99;
    user-select: none;
}

.modal-form-checkbox {

    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    margin-top: 8px;

    width: 16px;
    height: 16px;

    cursor: pointer;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: transparent;
}

input[type='checkbox']:checked+.modal-form-egreement-text .modal-form-checkbox {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.modal-form-checkbox-icon {}


input[type='checkbox']:focus-visible+.modal-form-egreement-text .modal-form-checkbox {
    outline: 2px solid #4D5AE5;
    outline-offset: 2px;
}

.modal-form-egreement-link {
    color: #4D5AE5;
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

/* #endregion */


/*#region Modal Button */


.modal-form-btn {
    display: block;
    margin: 0 auto;
}

/* #endregion */

/*#region Mobile Menu */

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: #FFFFFF;
    padding: 72px 16px 40px 16px;

    display: flex;
    flex-direction: column;

    transform: translateX(100%);

    transition: 300ms ease-in;
    transition-property: transform;

}

.mobile-menu.is-open {
    transform: translateX(0%);
}

.mobile-menu-btn {}

.mobile-menu .mobile-menu-btn {
    margin-left: auto;
    border-radius: 100%;
    width: 24px;
    height: 24px;

    border: 1px solid #0000001A;

    top: 50%;
    transform: translateY(-50%);
    stroke: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-list {
    display: flex;
    flex-direction: column;
    gap: 40px;

    margin-top: 24px;
    margin-bottom: auto;


    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: left;

}

.mobile-menu-contacts {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;


}

.mobile-menu-socials {
    margin-top: 48px;
    display: flex;
    justify-content: normal
}

/* #endregion */